@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&family=Montserrat&family=Poppins&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    color: white !important;
}
body{
    background-color: rgb(20, 21, 68) !important;
}
.instagram img{
    width: 30px;
    height: 30px;
}
.live{
    color: rgb(255, 153, 0) !important;
}
.logo img{  
    width: 20%;
    height: 20%;
}
.btn{
    width: 90% !important;
    height: 50px !important;
}
.btn-primary{
    background-color: rgb(60, 60, 255) !important;
}
.btn-secondary{
    background-color: rgb(212, 0, 255) !important;
}
.btn-danger{
    background-color: rgb(233, 43, 18) !important;
}
.btn-success{
    background-color: rgba(250, 171, 0, 0.877) !important;
}
.btn-info{
    background-color: rgb(0, 175, 15) !important;
}
.btn-light{
    background-color: rgb(136, 8, 255) !important;
}
.btn-dark{
    background-color: rgb(0, 41, 223) !important;
}
.link_logos{
    width: 20px;
    height: auto;
}
.btn img{
    width: 30px;
    height: 30px;
}
.nav_toggle img{
    width: 30px !important;
    height: 30px !important;
}

@media only screen and (max-width: 768px) {
    /* mobile */
    .logo img{  
        width: 50%;
        height: 50%;
    }
    .btn{
        width: 70% !important;
        height: 40px !important;
    }
    .btn-primary{
        background-color: rgb(60, 60, 255) !important;
    }
    .btn-secondary{
        background-color: rgb(212, 0, 255) !important;
    }
    .btn-danger{
        background-color: rgb(233, 43, 18) !important;
    }
    .btn-success{
        background-color: rgba(250, 171, 0, 0.877) !important;
    }
    .btn-info{
        background-color: rgb(0, 175, 15) !important;
    }
    .btn-light{
        background-color: rgb(136, 8, 255) !important;
    }
    .navbar-toggler:focus{
        box-shadow: none !important;
    }
    .hireme{
        width: 50% !important;    
    }
    .navbar-text a{
        text-decoration: none;
    }

}